*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: grid;
  grid-template-columns: 711px auto;
  grid-template-rows: 100%;
  align-items: end;
  gap: 30px;
  width: 1140px;
  height: 534px;
}

.result {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.result__video-container {
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

fieldset {
  border: none;
  padding: 0;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: inherit;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__label:has(.search-form__textfield:active),
.search-form__label:has(.search-form__textfield:focus) {
  outline: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-bottom: 5px;
}

.search-form__pseudo-checkbox {
  position: relative;
  z-index: 0;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
  vertical-align: middle;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before,
.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  inset: 1px 1px;
  z-index: -1;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__checkbox:hover ~ .search-form__label-text {
  color: #fff;
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: inherit;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 100%;
  height: 100%;
}

.title {
  padding-top: 4px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.content__list-item {
  padding: 2px 2px 32px 0;
}

.content__list-item:last-of-type {
  padding-bottom: 0px;
}

.content__card-link {
  display: block;
  width: 392px;
  height: 105px;
  margin: 1px;
  text-decoration: none;
}

.content__card-link:active,
.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  color: #fff;
  text-decoration: underline;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 0;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  width: 394px;
  height: 107px;
}

.content__video-card-title {
  padding-bottom: 6px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description-container {
  width: 199px;
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 193px;
  height: 105px;
  object-fit: cover;
  object-position: center center;
}

.more-button {
  width: 100%;
  height: 34px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}
